@import "tailwindcss";

@theme{
    --color-dark: #0A0A0A;
    --color-accent: #B20710;

    --font-bebas: "Bebas Neue", sans-serif;

    --background-image-main-gradient: radial-gradient(circle at 50% 0%, #440000 0%, #000000 85%);
    --text-shadow-logo: 0 0 30px var(--color-accent);
}

@layer base {
    html, body, #root {
        height: 100%;
        margin: 0;
        padding: 0;
        color: white;
        background-color: #000;
    }
}